apiVersion: apps/v1
kind: Deployment
metadata:
  name: resource-group-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: resource-group-controller
  template:
    metadata:
      labels:
        app: resource-group-controller
    spec:
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
      serviceAccountName: resource-group-controller
      automountServiceAccountToken: true
      containers:
        - name: resource-group-controller
          image: ten1010io/resource-group-controller:1.1.0-SNAPSHOT
          envFrom:
            - configMapRef:
                name: resource-group-controller-envs
            - secretRef:
                name: resource-group-controller-envs
          volumeMounts:
            - name: tls
              readOnly: true
              mountPath: /etc/resource-group-controller/tls
      volumes:
        - name: tls
          projected:
            sources:
              - secret:
                  name: resource-group-controller-tls
                  items:
                    - key: tls.p12
                      path: "tls.p12"
---
